.App {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}


.box-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px;
  border: 1px solid black;

  width: 200px;
  height: 500px;
}


.drag-box{
  border: 4px solid black;
  border-radius: 12px;
  padding: 8px;
}

.drag-box-hidden{
  opacity: 0;
}